.segmento-incluir {
  padding: 12px;
}

.segmento-incluir .full-width {
  width: 100%;
  margin-bottom: 12px;
}

.segmento-incluir .acoes {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 8px;
}
